.carousel{
    box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.6);
}
.cards{
    padding-top: 3%;
}
.example-card{
    background-color: #ddfbfb;
    width: 25%;
    box-shadow: 0 3px 5px 2px black;
}
.titulo{
    padding-top: 130%;
}
@media (min-width:300px) and (max-width:600px){
    .example-card{
        width:auto;
    }
}

@media (min-width:600px) and (max-width:1460px){
    .example-card{
        width:50%;
    }
}
