<div class="oxossi_image">
    <img class="imagem" src="assets/images/orixas/oxossi/oxossi.jpeg" alt="Imagens de ossaim" width="50%" height="600">
</div>
<h4 class="subtitulo text-center mt-2">Babalorixá - Sergio de Oxóssi </h4>

<div class="texto">
    <h1 class="text-center">Oxóssi: o Rei das matas</h1>
    <p class="negrito text-center"><b>Orixá Oxóssi na Umbanda é o chefe dos Caboclos. É também chamado de Odé (que do termo iorubá odẹ, significa “caçador”) e de Alákétu (Senhor da cidade de Kétu na Nigéria).</b></p>
    <p class="text-center">Orixá Oxóssi tem como atributos a ligeireza, a astúcia, a sabedoria e a habilidade para capturar uma caça, características que o tornam um grande caçador</p>
    <p class="text-center">Aliados ao seu conhecimento e modo de vida na natureza, torna-se também um sábio e poderoso guerreiro.</p>
    <p class="text-center">Além disso, Orixá Oxóssi é o senhor das florestas, de todos os animais e seres que nela habitam e do alimento em fartura.</p>
    <p class="text-center">Esse Orixá caçador, é defensor daqueles que lutam pelo seu sustento e de sua família. Segundo a lenda,</p>
    <p class="text-center">ele é o responsável por prover as refeições dos seres humanos, sempre afortunando os que buscam suas bençãos. Ele zela pelos filhos da Terra.</p>
    <p class="text-center">Orixá Oxóssi vive em sintonia com o meio ambiente, equilibrando todo o ecossistema e seres que vivem nele. Inclusive o revoar dos pássados.</p>
    <p class="text-center">Ele está ligado a tudo que é natural, até mesmo aos dons como o da dança, o canto e as artes plásticas. Ele também respeita tudo aquilo que o mundo nos oferece naturalmente.</p>
    <p class="text-center">Oxóssi acredita que a vida é um eterno ciclo dinâmico e natural, portanto não teme a morte.</p>
</div>
