<div class="oxum_image">
    <img src="assets/images/orixas/oxum/oxum.jpeg" alt="imagem da oxum" class="imagem" width="80%" height="600">
</div>
<h4 class="subtitulo text-center mt-2">Ìyàwó - Elisângela de Oxum </h4>
<div class="texto">
    <h1 class="text-center">Oxum</h1>
    <p class="text-center">Falar da Yabá Oxum neste período desafiador que estamos atravessando,
        é para mim, como ser presenteada com um pote de mel e poder compartilhar essa doçura com você!</p>
    <p class="text-center">Oxum vemdo iorubá, Osun, Oshun ou Ochun.</p>
    <p class="text-center">Na cultura yorubá, Oxum é uma Yabá (orixá feminina) que reina sobre as águas doces,
        rios e cachoeiras. É a deusa do rio Oxum, que fica no Sudoeste da Nigéria.</p>
    <p class="text-center">Oxum é considerada a deusa do amor, da beleza, da fertilidade, do dinheiro, do ouro e das pedras preciosas.</p>
    <p class="text-center">Está ligada às riquezas espirituais e materiais da vida, da sensibilidade, da sabedoria, do jogo de Búzios e do empoderamento feminino.</p>
    <p class="text-center">Oxum é cultuada como rainha da nação ijexá. Tem o título de Iyálodê: a grande mãe entre os orixás.</p>
    <p class="text-center">Deusa da beleza, Oxum é a Orixá do amor, da fertilidade e da maternidade.</p>
    <p class="text-center">É responsável pela proteção dos fetos e das crianças recém-nascidas, e por isso, é muito adorada pelas mulheres que desejam engravidar.</p>
</div>
<div class="oxum_image mt-4">
    <img src="assets/images/orixas/oxum/oxum_1.jpeg" alt="imagem da oxum" class="imagem" width="15%" height="300">
</div>
<div class="texto">
    <h1 class=" text-center mt-4">História de Oxum</h1>
    <p class="negrito text-center">Oxum é filha da Yabá Iemanjá e do Orixá Oxalá. É a segunda esposa de Orixá Xangô, juntamente com as Orixás Obá e Iansã – Oyá.</p>
    <p class="negrito text-center">De acordo com vários mitos, Oxum viveu também com Ogum, Exu, Orunmilá e Oxóssi.</p>
    <p class="negrito text-center">Oxum é a orixá do rio de mesmo nome que corre na Nigéria, em Ijexá e Ijebu.</p>
    <p class="text-center">Diz a lenda que era comum que os Orixás masculinos se reunirem para discutir assuntos sobre a humanidade</p>
    <p class="text-center">Oxum sempre achou isso muito injusto, pois sabia que tinha sabedoria e poder o suficiente para opinar sobre as questões dos homens. Mesmo insistindo nunca conseguiu espaço para se expressar…</p>
    <p class="text-center">Notando que algo de errado estava acontecendo no planeta Terra, os Orixás masculinos decidiram consultar Olorum (pais dos Orixás), que revelou o que Oxum havia feito.</p>
    <p class="text-center">Como somente ela poderia resolver essa questão, eles a convidaram para participar das reuniões. Desde então,</p>
    <p class="text-center">Oxum sempre está presente nos acordos e decisões da humanidade, que voltou a se multiplicar!</p>
</div>
