<img class="imagem" src="../../../../assets/images/orixas/oxala/oxala.jpg" alt="Imagens de oxalá" width="100%" height="600">

<h1 class="text-center mt-3">Oxalá: o criador</h1>

<div class="texto">
    <p class="text-center">Os Orixás são deuses africanos que atuam entre o mundo humano e o divino, comandando a vida e o destino das pessoas.</p>
    <p class="text-center">Orixás são divindades caprichosas. Assim como nós humanos eles amam, odeiam, ajudam, curam ou castigam (de acordo com a sua natureza).</p>
    <p class="text-center">Dentre todos os Orixás, Oxalá é o mais poderoso. Seu nome original é Orishala ou Obatala na África.</p>
    <p class="negrito text-center">Oxalá foi o primeiro Orixá a ser criado e a ele foi dada a missão de criar o universo, todos os seres e coisas que existiriam no mundo!</p>
    <p class="negrito text-center">Pai dos homens, criador da humanidade, Oxalá é o pai de todos. Muito sábio e benevolente com os filhos, ele os leva pelos caminhos da vitória.</p>
    <p class="text-center">Orixá Oxalá é regente do Trono da Fé, ou seja, está associado a todos os assuntos que envolvam a Esperança e a Confiança em Deus.</p>
    <p class="text-center">Oxalá é o primeiro filho de Olorum, o Orixá mais velho. Devido a sua posição ele se tornou um pouco prepotente e exigente, sendo assim teimoso e perfeccionista. Sempre consegue o que deseja através de suas estratégias e capacidade de raciocínio.</p>
</div>

<h1 class="text-center mt-4">Oxalá Oxalufan</h1>
<div class="foto">
    <img src="../../../../assets/images/orixas/oxala/Oxalá-Oxalufan.jpg" alt="Imagem de Oxulufan" class="imagem">
</div>
<div class="texto mt-4">
    <p class="text-center">É o Oxalá mais velho, seu templo é em Ifon. Esse Oxalá anda curvado por causa do tempo, </p>
    <p class="text-center">os anos lhe pesam no corpo, ele é vagaroso como um idoso com dores.</p>
    <p class="text-center">É o Opaxorô que o sustenta, um bastão de metal branco com a imagem de um pássaro. </p>
    <p class="text-center">Está diretamente ligado com a tranquilidade, paz, sabedoria e paciência.</p>
</div>

