<div class="oxumare_image">
    <img src="assets/images/orixas/oxumare/oxumare1.jpg" alt="Imagem de Oxumare" class="imagem" width="80%" height="550">
</div>
<div class="texto mt-4">
    <h1 class="text-center">Oxumaré</h1>
    <p class="text-center">O<span class="negrito m-lg-1">Orixá Oxumaré </span>é o símbolo da continuidade e da permanência. É a cobra arco-íris, representa a riqueza e a fortuna.</p>
    <p class="text-center">O Orixá Oxumaré também pode ser conhecido como Òsùmàrè. Ele é o Orixá de todos os movimentos e ciclos. </p>
    <p class="text-center">Ele coordena o dinamismo dos movimentos da Terra, portanto, se um dia ele viesse a perder suas forças, o mundo acabaria </p>
    <p class="text-center">É preciso que o planeta não deixe de se movimentar e Oxumaré está como o responsável principal pelos movimentos de rotação e translação. Seus ciclos são os movimentos do mundo.</p>
</div>
