.ossain_image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imagem{
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0,0.5);
}
.foto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
