
<div class="ossain_image">
    <img class="imagem" src="../../../../assets/images/orixas/ossaim/ossain.webp" alt="Imagens de ossaim" width="50%" height="600">
</div>

<h4 class="text-center mt-3">Ossaim – Ossanha: Orixá curandeiro das ervas!<br> <h5>O rei das plantas e daqueles que buscam uma vida mais saudável.</h5></h4>
<div class="texto">
    <h2 class="text-center mt-4">Quem é Ossanha / Ossaim?</h2>
    <p class="text-center">Seu nome tem muitas variações, é também chamado de: Oçânhim, Oçãe, Oçãim, Oçanha, Oçanhe, Oçânim, Oçonhe, Ossanha, Ossaim ou Ossanhe (em iorubá: Ọ̀sányin).</p>
    <p class="text-center">Ele é o pai das plantas. Segundo a tradição, Ossaim possui o poder sobre todas as plantas e delas extrai as curas de todos os males</p>
    <p class="text-center">Sendo assim regente das folhas sagradas, plantas xamânicas, ervas medicinais e litúrgicas. E o único ser que possui total domínio sobre elas.</p>
    <p class="text-center">Ele favorece a saúde e auxilia todos aqueles que buscam uma vida saudável.  Tem o dom dos feitiços e também é responsável pelo sucesso e alcance de bens materiais.</p>
    <p class="text-center">Até mesmo os Odús de Búzios – bhula, que são os caminhos da vida, o procuram para ter saúde e alcançar sucesso em seus projetos.
        Compreendendo-os temos a capacidade de traçar melhor planos e conquistar aquilo que desejamos.</p>
    <p class="text-center">Nas curas com as folhas sagradas de Ossaim é possível encontrar o poderoso axé oculto, pois ele é oriundo da vibração Terra.</p>
    <p class="text-center">No Candombé, não é possível realizar cerimônias sem Ossaim. Na Umbanda, Ossaim e Oxóssi Orixá, rei das matas, estão interligados.</p>
</div>
<h2 class="text-center mt-4">História de Ossaim</h2>
<div class="foto ">
    <img class="imagem" src="../../../../assets/images/orixas/ossaim/ossaim.jpg" alt="Foto de ossaim ">
</div>
<div class="texto mt-4">
    <p class="text-center">Ossaim estudava muito e já possuía certo conhecimento das plantas e de suas propriedades.</p>
    <p class="text-center">Certo dia, quando passava por Àgbàsaláààrin ayé lòrun (rocha entre o céu e a Terra), </p>
    <p class="text-center">Ossaim encontrou o Orixá Orunmila (responsável pelos mistérios e interpretações do oráculo de Ifá),
        que descia do céu carregando diversas folhas para nomeá-las. </p>
    <p class="text-center">Ossaim contou que estava indo buscar folhas medicinais para fazer remédios para os seres humanos doentes.</p>
    <p class="text-center">Orunmila, reconheceu a dedicação de Ossaim e transmitiu a ele o nome e segredos de todas as plantas que carregava.</p>
    <p class="text-center">Assim, os dois Orixás desceram com as folhas para a Terra e as espalharam pelo planeta.</p>
    <p class="text-center">Ossaim costuma ser um Orixá misterioso e reservado. Não se sabe muito sobre sua vida pessoal e relacionamentos.</p>
    <p class="text-center">Acredita-se que ele já se envolveu com Iansã – Oyá. Mas é com Oxóssi que possui mais afinidade, já que ambos estão em sintonia com seu amor pela natureza.</p>

</div>
